<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style.css" type="text/css" rel="stylesheet"/>
        <script src="/js/product.js"></script>
    </head>
<body>

<h2>Add Product</h2>
<div>
    <form action="/products/add" method="post" id="frmProduct">
    <label for="productid">ProductId:</label><br>
    <input type="text" id="id" name="id" value="1"><br>
    <label for="name">Product name:</label><br>
    <input type="text" id="name" name="name" value="Television"><br>
    <label for="price">Price:</label><br>
    <input type="text" id="price" name="price" value="$2.00"><br>
    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description" value="Entertainment Item"><br><br>
    <input type="button" value="Submit" id="btnSubmit">
    </form>
</div>
</body>
</html>